.home__body {
  h2 {
    margin-bottom: 10px;
  }

  .home__ppic {
    width: 70px;
    border-radius: 250px;
    border: 2px solid var(--mutedOne);
  }

  .home__data {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    img {
      width: 15px;
    }
  }

  .home__skills--wrapper {
    overflow-x: hidden;
    position: relative;
    user-select: none;
  }

  .home__skills--track {
    animation: scroll 15s linear infinite;
    position: relative;
    display: flex;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(var(--translateWidth));
    }
  }

  .home__skills {
    display: flex;
    gap: 10px;
  }
}

.home__book {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
  width: var(--bookWidth);
  img {
    width: 50px;
    padding: 0px 15px;
  }
  span {
    font-size: 12px;
    text-align: center;
  }
}

.home__image {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    border-radius: 5px;
  }
}
