.home__body {
  h2 {
    margin-bottom: 10px;
  }

  .home__ppic {
    width: 70px;
    border-radius: 250px;
    border: 2px solid var(--mutedOne);
  }

  .home__skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .home__skill {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 5px;
      img {
        width: 40px;
      }
    }
  }
}
