.layout__header {
  background-color: var(--colorOne);
  border-bottom: 2px solid var(--colorThree);
  height: 50px;
  top: 0;
  position: sticky;
  width: 100%;
  display: flex;
  align-items: center;
  .layout__header--content {
    width: var(--contentWidth);
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .layout__logo {
    height: 25px;
    background-color: var(--colorTwo);
  }
  .layout__cta:hover {
    background-color: rgba(var(--ctaColor-rgb), 0.95);
    cursor: pointer;
  }
}

.layout__container {
  width: var(--contentWidth);
  min-height: calc(100vh - 50px);
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .layout__nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .layout__link {
      display: flex;
      flex-direction: column;
      text-align: center;
      text-decoration: none;
      color: var(--textOne);
      transition: 0.2s;
      img {
        border-radius: 50%;
      }
    }

    .layout__link:hover {
      color: var(--textTwo);
      scale: 1.05;
    }
    .layout__link span {
      font-size: 10px;
    }
  }
}
