.layout__header {
  background-color: var(--colorOne);
  border-bottom: 2px solid var(--colorThree);
  height: 50px;
  top: 0;
  position: sticky;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
  .layout__header--content {
    width: var(--contentWidth);
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .layout__logo {
    height: 25px;
    background-color: var(--colorTwo);
  }
}

.layout__container {
  width: var(--contentWidth);
  min-height: calc(100vh - 50px);
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .layout__nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .layout__link {
      display: flex;
      flex-direction: column;
      text-align: center;
      text-decoration: none;
      color: var(--textOne);
      transition: 0.2s;
      img {
        border-radius: 50%;
      }
    }

    .layout__link:hover {
      color: var(--textTwo);
      scale: 1.05;
    }
    .layout__link span {
      font-size: 10px;
    }
  }
}

.layout__footer {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 0;
  background-color: var(--colorOne);
  font-size: 15px;
  font-weight: 200;
}

.layout__header__link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 200;
  font-size: 15px;
  transition: 0.3s;
  text-align: end;
}

.layout__header__link:hover {
  color: var(--mutedTwo);
}

.layout__cta {
  background-color: var(--ctaColor);
  color: var(--textOne);
  padding: 5px 20px;
  height: 35px;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
}

.layout__cta:hover {
  scale: 1.05;
  cursor: pointer;
  opacity: 10;
}
