.projects__section {
  display: flex;
  align-items: start;
  width: 100%;
  padding: 10px 0;
  gap: 10px;
  img {
    width: 15%;
    border-radius: 10px;
  }
  .project__info {
    width: 85%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    p {
      line-height: 15px;
    }
  }
}

.project__skills {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  .project__skill {
    font-size: 12px;
    font-weight: 200;
    padding: 1px 10px;
    border-radius: 10px;
    background-color: var(--ctaColor);
    color: #fafafa;
  }
}

//* EDITOR DE PROYECTOS

.projects__formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    width: 70%;
  }
}

.projects__resultMsg {
  color: var(--textColor);
  margin: 20px 0;
}

.projects__resultMsg--success {
  color: var(--greenColor);
}
